NODE_ENV="development"
TZ="America/São Paulo"
PORT="3000"

DB_TYPE="mysql"
DB_HOST="localhost"
DB_PORT="3306"
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE="app"

MP_ACCESS_TOKEN=""

JWT_KEY=""

QUEUE_CREATE_ORDER_URL=""
QUEUE_UPDATE_ORDER_URL=""
QUEUE_PAYMENT_APPROVED_URL=""
QUEUE_PAYMENT_CANCELED_URL=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""